<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Expenses Tracker</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body ng-app="expenses">
	<div class="valueInput hide-on-mobile">
		<div ng-controller="ExpenseCtrl as ctrl">
		<h1>Expense Tracker</h1>
			<form id="expenseForm" novalidate ng-submit="ctrl.addExpense(ctrl.expense)">
				<p>Name of expense:</p>
				<input type="text" ng-model="ctrl.expense.name" required>
				<p>Amount:</p>
				<input type="text" ng-model="ctrl.expense.amount" required>
				<input type="submit" value="Submit!">
			</form>
	  </div>
	  <div ng-controller="IncomeCtrl as ctrl">
			<form id="incomeForm" novalidate ng-submit="ctrl.addIncome(ctrl.income)">
				<p>Name of Income:</p>
				<input type="text" ng-model="ctrl.income.name" required>
				<p>Amount:</p>
				<input type="text" ng-model="ctrl.income.amount" required>
				<input type="submit" value="Submit!">
			</form>
		</div>
	</div>

	<div class="mobileValueInput hide-on-large" ng-controller="HandleCtrl as handle">
		<h1>Expense Tracker</h1>
		<div class="btns">
			<button ng-click="handle.showExpense()">Add Expense</button>
			<button ng-click="handle.showIncome()">Add Income</button>
		</div>
		<div ng-class="{activeForm: handle.expenseVisible}" ng-controller="ExpenseCtrl as ctrl">
			<form id="expenseForm" novalidate ng-show="handle.expenseVisible" ng-submit="ctrl.addExpense(ctrl.expense)">
				<p>Name of expense:</p>
				<input type="text" ng-model="ctrl.expense.name" required>
				<p>Amount:</p>
				<input type="text" ng-model="ctrl.expense.amount" required>
				<input type="submit" value="Submit!" >
			</form>
		</div>
		<div ng-class="{activeForm: handle.incomeVisible}" ng-controller="IncomeCtrl as ctrl">
			<form id="incomeForm" novalidate ng-show="handle.incomeVisible" ng-submit="ctrl.addIncome(ctrl.income)">
				<p>Name of Income:</p>
				<input type="text" ng-model="ctrl.income.name" required>
				<p>Amount:</p>
				<input type="text" ng-model="ctrl.income.amount" required>
				<input type="submit" value="Submit!">
			</form>
		</div>
	</div>

	<div class="output" ng-controller="OutputCtrl as output">
		<ul class="expenseOutput">
			<h2>Expenses</h2>
			<li ng-repeat="expense in output.expenses" class="expense">
				{{expense.name}}<em class="pull-right">-{{expense.amount | currency }}</em>
			</li>
		</ul>
		<ul class="incomeOutput">
			<h2>Income</h2>
			<li ng-repeat="income in output.income" class="expense">
				{{income.name}}<em class="pull-right">+{{income.amount | currency }}</em>
			</li>
		</ul>
		<div class="totals">
			<h2>Totals</h2>
			<ul>
				<li>Total Expenses: <em class="pull-right">{{output.totalExpenses | currency}}</em></li>
				<li>Net Income: <em class="pull-right">{{output.netIncome | currency}}</em></li>
				<li>Gross Income: <em class="pull-right">{{output.grossIncome | currency}}</em></li>
			</ul>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
