* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	background-color: #226666;
	color: white;
}

.color-primary-0 { background: #226666 }	/* Main Primary color */
.color-primary-1 { background: #669999 }
.color-primary-2 { background: #407F7F }
.color-primary-3 { background: #0D4D4D }
.color-primary-4 { background: #003333 }

header {
	text-align: center;
	color: white;
}

.valueInput {
	text-align: center;
}

#expenseForm {
}

.pull-right {
	float: right;
}

.hide-on-mobile {
	display: none;
}

input {
	color: black;
}

.output {

	ul {
		list-style: none;
		margin: 5px;

		h2 {
			color: white;
		}

		
		li {
			padding: 5px;
			color: black;

			&:nth-child(odd) {
				@extend .color-primary-1;
			}

			&:nth-child(even) {
				@extend .color-primary-2;
			}

			font-size: 18px;
		}
	}
}

.remove {
	margin: 0 10px;
	cursor: pointer;
	&:hover {
		color: #333;
	}
}

.addition {
	color: #00510A;
}

.deduction {
	color: #880202;
}

.button-secondary {
	color: white;
    background: rgb(66, 184, 221); /* this is a light blue */
}	


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
	
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.hide-on-mobile {
		display: block;
	}

	.hide-on-large {
		display: none;
	}

	.output {
		width: 35%;
		margin: 0 auto;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
