<div ng-controller="OverviewCtrl as ctrl">
	<div class="output">
		<ul class="expenseOutput">
			<h2><a href="#/expense">Expenses</a><a href="#/revenue/new/expense"><span class="pull-right"><i class="fa fa-plus btn-icon"></i></span></a></h2>
			<li ng-show="ctrl.expenses.length === 0">No expenses added yet!</li>
			<li ng-repeat="expense in ctrl.expenses" class="expense">
				<span class="pull-right remove">
					<a href="#/revenue/edit/{{expense.id}}">
						<i class="fa fa-pencil btn-icon"></i>
					</a>
					<span ng-click="ctrl.removeExpense(expense)">
						<i class="fa fa-times btn-icon"></i>
					</span>
				</span>

				<div class="revenue-item">
					<em class="pull-right deduction revenue-value">-{{expense.amount | currency }}</em>
					<h3>{{expense.name}} <span ng-show="expense.frequency != 'once'" class="frequency"><i class="fa fa-repeat"></i> {{expense.frequency}}</span></h3>
				</div>
			</li>
		</ul>
		<ul class="incomeOutput">
			<h2><a href="#/income">Income</a><a href="#/revenue/new/income"><span class="pull-right"><i class="fa fa-plus btn-icon"></i></span></a></h2>
			<li ng-show="ctrl.income.length === 0">No income added yet!</li>
			<li ng-repeat="income in ctrl.income" class="expense">
				<span class="pull-right remove">
					<a href="#/revenue/edit/{{income.id}}">
						<i class="fa fa-pencil btn-icon"></i>
					</a>
					<span ng-click="ctrl.removeIncome(income)">
						<i class="fa fa-times btn-icon"></i>
					</span>
				</span>
				<div class="revenue-item">
					<em class="pull-right addition revenue-value">-{{income.amount | currency }}</em>
					<h3>{{income.name}} <span ng-show="income.frequency != 'once'" class="frequency"><i class="fa fa-repeat"></i> {{income.frequency}}</span></h3>
				</div>
			</li>
		</ul>
		
	</div>
</div>